@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: #000;
    color: #fff;
    font-family: "raleway";
}

#hero-section img {
    height: 400px;
    object-fit: cover;
    height: 80vh;
}

nav .navbar-brand img {
    height: 30px;
}

.navbar {
    transition: all 0.5s;
}

#about-us .container h2 {
    font-weight: 300;
}

#about-us .card-text {
    font-size: 14px;
}

#about-us i {
    font-size: 24px;
}

#highlights .container h2 {
    font-weight: 300;
}

#highlights .card img {
    height: 200px;
    object-fit: cover;
}

#highlights .card .card-text {
    font-size: 14px;
}

#contact .container h2 {
    font-weight: 300;
}

footer h2 {
    font-size: 20px;
}

footer ul li {
    list-style: none;
    display: inline-block;
}

footer ul li i {
    font-size: 30px;
}

footer ul li a {
    color: #fff;
}